services:

  backend-service:
    image: backend-service:0.0.15
    container_name: broken-store-backend-service
    build:
      context: .
      dockerfile: ./backend/backend-service/backend-service.dockerfile
    ports:
      - "8085:8080"
#    expose:
#      - "8080"
    depends_on:
      - service-db
    environment:
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://service-db/broken_store
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME:-admin}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD:-admin}
      #      - SPRING_JPA_DATABASE=postgresql
      #      - SPRING_JPA_HIBERNATE_DDL-AUTO=update
      # - SPRING_JPA_HIBERNATE_DDL_AUTO=update # Careful! 'create' destroy data! https://stackoverflow.com/questions/21113154/spring boot-ddl-auto-generator
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create # Careful! 'create' destroy data! https://stackoverflow.com/questions/21113154/spring-
      - MINIO_URL=minio
      - PROFANITY_VALIDATOR_SERVICE_URL=http://profanity-validator-service:8080
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  user-service:
    image: user-service:0.0.1
    container_name: broken-store-user-service
    build:
      context: .
      dockerfile: ./backend/user-service/user-service.dockerfile
    ports:
      - "8086:8080"
    depends_on:
      - service-db
      - keycloak
    environment:
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://service-db/broken_store
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME:-admin}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD:-admin}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update # Careful! 'create' destroy data! https://stackoverflow.com/questions/21113154/spring boot-ddl-auto-generator
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
      - KC_SERVER_URL=http://keycloak:8082
      - PROFANITY_VALIDATOR_SERVICE_URL=http://profanity-validator-service:8080
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  profanity-validator-service:
    image: profanity-validator-service:0.0.1
    container_name: broken-store-profanity-validator-service
    build:
      context: .
      dockerfile: ./backend-python/profanity-validator-service/profanity-validator-service.dockerfile
    ports:
      - "8087:8080"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  service-db:
    image: postgres:14.7-alpine
    container_name: broken-store-postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
      POSTGRES_DB: broken_store
    ports:
      - "15432:5432"
    volumes:
      - ./db/create_db.sql:/docker-entrypoint-initdb.d/create_db.sql
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  ##  pgadmin:
  ##    container_name: pgadmin4_container
  ##    image: dpage/pgadmin4:7
  ##    restart: always
  ##    environment:
  ##      PGADMIN_DEFAULT_EMAIL: admin@admin.com
  ##      PGADMIN_DEFAULT_PASSWORD: root
  ##    ports:
  ##      - "5050:80"
  ##    volumes:
  ##      - pgadmin-data:/var/lib/pgadmin

  prometheus:
    image: prom/prometheus:v2.48.1
    container_name: broken-store-prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9090"]
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  grafana:
    image: grafana/grafana:9.5.15
    container_name: broken-store-grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./grafana/datasources.yml:/etc/grafana/provisioning/datasources/main.yaml
    depends_on:
      - prometheus
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "3000"]
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.5"
          memory: 512M

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: broken-store-cadvisor-exporter
    privileged: true
    ports:
      - 8081:8081
    volumes:
      - /:/rootfs:ro
      #      - /var/run:/var/run:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw # mac
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - "-port=8081"
    depends_on:
      - backend-service
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  minio:
    image: minio/minio:RELEASE.2025-01-20T14-49-07Z
    container_name: broken-store-minio
    restart: unless-stopped
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minio_admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minio_admin}
    volumes:
      - minio-data:/data
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    #   interval: 30s
    #   timeout: 20s
    #   retries: 3

  minio-settings:
    image: minio/mc:RELEASE.2025-03-12T17-29-24Z
    container_name: broken-store-minio-settings
    depends_on:
      - minio
    environment:
      - MINIO_ROOT_USER1=minio_admin
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minio_admin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-minio_admin}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY:-Up4pXyWiCdaffrEEyDqJ}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY:-7mq8E2uk3kNR2AkgqapfC4kU5j7bTiFKtV1JllU8}
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc config host add myminio http://minio:9000 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD;
      /usr/bin/mc admin accesskey create myminio/ $$MINIO_ROOT_USER --access-key $$MINIO_ACCESS_KEY --secret-key $$MINIO_SECRET_KEY;
      exit 0;
      "

  keycloak:
    container_name: broken-store-keycloak
    image: quay.io/keycloak/keycloak:26.1.1
    command:
      -v start-dev --import-realm
    ports:
      - 8082:8082
      - 8443:8443
    volumes:
      - ./keycloak/:/opt/keycloak/data/import
    environment:
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/data/import/server.crt
      KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/data/import/server.key
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_USERNAME:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_PASSWORD:-admin}
      KC_HOSTNAME_URL: http://localhost:8082
      KC_HOSTNAME_ADMIN_URL: http://localhost:8082
      KC_HOSTNAME_STRICT_BACKCHANNEL: true
      KC_HTTP_RELATIVE_PATH: /
      KC_HTTP_PORT: 8082
      KC_HTTPS_PORT: 8443
      KC_HTTP_ENABLED: true
      KC_HTTPS_ENABLED: true
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { java.net.URI uri = java.net.URI.create(args[0]); System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)uri.toURL().openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live']
      interval: 5s
      timeout: 5s
      retries: 20

  nginx-gateway:
    image: nginx:1.25
    container_name: broken-store-nginx-gateway
    ports:
      - "${NGINX_PORT:-80}:80"
    environment:
      - FRONTEND_HOST=${FRONTEND_HOST:-localhost}
      - AUTH_HOST=${AUTH_HOST:-localhost}
    volumes:
      - ./nginx-gateway/nginx.conf.template:/etc/nginx/nginx.conf.template
      - ./nginx-gateway/nginx-docker-entrypoint.sh:/docker-entrypoint.sh  # монтируем скрипт
    command: /docker-entrypoint.sh
    depends_on:
      - backend-service
      - oauth2-proxy
      - keycloak

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
    container_name: broken-store-oauth2-proxy
    ports:
      - 4180:4180/tcp
    volumes:
      - "./oauth2-proxy/oauth2-proxy.cfg:/oauth2-proxy.cfg"
    command: --config /oauth2-proxy.cfg
    depends_on:
      keycloak:
        condition: service_healthy

volumes:
  db-data:
  minio-data:
#  pgadmin-data:
