<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broken Store</title>
    <link rel="stylesheet" href="/css/styles.css">
<!--    <link rel="stylesheet" href="/static/css/styles.css">-->
</head>
<body>
     <div class="header">
         <h1>Broken store</h1>
     </div>
    <a href="/swagger-ui/index.html" class="swagger">Swagger</a><br>
    <a href="//:9090/" class="prometheus">Prometheus</a><br>
    <a href="//:3000/login/" class="grafana">Grafana</a><br>
    <a href="//:9001/" class="minio">Minio</a>
</body>
</html>


